




body{
    background-color: rgba(240, 235, 229, 1);
}

.card-container{
    background-color: rgba(241, 234, 216, 1);
    color: rgba(253, 135, 74, 1);
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

